<html lang="en" class="has-navbar-fixed-top has-background-success-light">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stylesheet.css">
    <script src="https://kit.fontawesome.com/91cb2ec1de.js" crossorigin="anonymous"></script>
    <script language='javascript' src='../static/javascript/detect_timezone.js'></script>
    <title>Dashboard</title>
</head>

<body>

    <nav class="navbar has-background-primary navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item is-size-2 has-text-warning" href="dashboard">
                Eventinator
            </a>
            <a role="button" class="navbar-burger my-4 has-dropdown" aria-label="menu" aria-expanded="false"
                data-target="navburgertarget">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navburgertarget" class="navbar-menu">
            <div class="navbar-start">

            </div>
            <div class="navbar-end is-align-items-center is-flex">
                <button onclick="check_person_details_popup()" class="button is-success is-rounded mx-5">
                    Modify personal details
                </button>
                {% if not from_discord %}
                <a id="signout" href="/user/logout"
                    class="px-5 py-5 is-flex has-background-success has-text-warning has-text-centered is-size-4">Log
                    out</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <div id="personaldetailpopup" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <form id="check-detail-form" action="/user/tz" class="box has-background-success-light">
                {{ form.csrf_token }}
                <div class="field">
                    <label class="label is-size-3" for="timezone">Time zone</label>
                    <div class="control has-icons-left">
                        <div class="select is-rounded">
                            <select id="timezone" name="timezone">
                                <option value='-12:00,0'>(-12:00) International Date Line West</option>
                                <option value='-11:00,0'>(-11:00) Midway Island, Samoa</option>
                                <option value='-10:00,0'>(-10:00) Hawaii</option>
                                <option value='-09:00,1'>(-09:00) Alaska</option>
                                <option value='-08:00,1'>(-08:00) Pacific Time (US & Canada)</option>
                                <option value='-07:00,0'>(-07:00) Arizona</option>
                                <option value='-07:00,1'>(-07:00) Mountain Time (US & Canada)</option>
                                <option value='-06:00,0'>(-06:00) Central America, Saskatchewan</option>
                                <option value='-06:00,1'>(-06:00) Central Time (US & Canada), Guadalajara, Mexico
                                    city</option>
                                <option value='-05:00,0'>(-05:00) Indiana, Bogota, Lima, Quito, Rio Branco</option>
                                <option value='-05:00,1'>(-05:00) Eastern time (US & Canada)</option>
                                <option value='-04:00,1'>(-04:00) Atlantic time (Canada), Manaus, Santiago</option>
                                <option value='-04:00,0'>(-04:00) Caracas, La Paz</option>
                                <option value='-03:30,1'>(-03:30) Newfoundland</option>
                                <option value='-03:00,1'>(-03:00) Greenland, Brasilia, Montevideo</option>
                                <option value='-03:00,0'>(-03:00) Buenos Aires, Georgetown</option>
                                <option value='-02:00,1'>(-02:00) Mid-Atlantic</option>
                                <option value='-01:00,1'>(-01:00) Azores</option>
                                <option value='-01:00,0'>(-01:00) Cape Verde Is.</option>
                                <option value='00:00,0'>(00:00) Casablanca, Monrovia, Reykjavik</option>
                                <option value='00:00,1'>(00:00) GMT: Dublin, Edinburgh, Lisbon, London</option>
                                <option value='+01:00,1'>(+01:00) Amsterdam, Berlin, Rome, Vienna, Prague, Brussels
                                </option>
                                <option value='+01:00,0'>(+01:00) West Central Africa</option>
                                <option value='+02:00,1'>(+02:00) Amman, Athens, Istanbul, Beirut, Cairo, Jerusalem
                                </option>
                                <option value='+02:00,0'>(+02:00) Harare, Pretoria</option>
                                <option value='+03:00,1'>(+03:00) Baghdad, Moscow, St. Petersburg, Volgograd
                                </option>
                                <option value='+03:00,0'>(+03:00) Kuwait, Riyadh, Nairobi, Tbilisi</option>
                                <option value='+03:30,0'>(+03:30) Tehran</option>
                                <option value='+04:00,0'>(+04:00) Abu Dhabi, Muscat</option>
                                <option value='+04:00,1'>(+04:00) Baku, Yerevan</option>
                                <option value='+04:30,0'>(+04:30) Kabul</option>
                                <option value='+05:00,1'>(+05:00) Ekaterinburg</option>
                                <option value='+05:00,0'>(+05:00) Islamabad, Karachi, Tashkent</option>
                                <option value='+05:30,0'>(+05:30) Chennai, Kolkata, Mumbai, New Delhi, Sri
                                    Jayawardenepura</option>
                                <option value='+05:45,0'>(+05:45) Kathmandu</option>
                                <option value='+06:00,0'>(+06:00) Astana, Dhaka</option>
                                <option value='+06:00,1'>(+06:00) Almaty, Nonosibirsk</option>
                                <option value='+06:30,0'>(+06:30) Yangon (Rangoon)</option>
                                <option value='+07:00,1'>(+07:00) Krasnoyarsk</option>
                                <option value='+07:00,0'>(+07:00) Bangkok, Hanoi, Jakarta</option>
                                <option value='+08:00,0'>(+08:00) Beijing, Hong Kong, Singapore, Taipei</option>
                                <option value='+08:00,1'>(+08:00) Irkutsk, Ulaan Bataar, Perth</option>
                                <option value='+09:00,1'>(+09:00) Yakutsk</option>
                                <option value='+09:00,0'>(+09:00) Seoul, Osaka, Sapporo, Tokyo</option>
                                <option value='+09:30,0'>(+09:30) Darwin</option>
                                <option value='+09:30,1'>(+09:30) Adelaide</option>
                                <option value='+10:00,0'>(+10:00) Brisbane, Guam, Port Moresby</option>
                                <option value='+10:00,1'>(+10:00) Canberra, Melbourne, Sydney, Hobart, Vladivostok
                                </option>
                                <option value='+11:00,0'>(+11:00) Magadan, Solomon Is., New Caledonia</option>
                                <option value='+12:00,1'>(+12:00) Auckland, Wellington</option>
                                <option value='+12:00,0'>(+12:00) Fiji, Kamchatka, Marshall Is.</option>
                                <option value='+13:00,0'>(+13:00) Nuku'alofa</option>
                            </select>
                        </div>
                        <span class="icon is-small is-left">
                            <span class="fas fa-user-clock"></span>
                        </span>
                    </div>
                    <p class="help">Select your timezone</p>
                </div>
            </form>
        </div>
        <button onclick="closepopup()" class="modal-close is-large" aria-label="close"></button>
    </div>

    <main class="mx-4 my-6">
        <div class="box has-background-success-light ">
            <span class="title is-1">{{ username }}'s Events</span>
            <a href="/event/new" class="button is-success is-large is-pulled-right my-4">Create Event</a>
        </div>
        <div id="events" class="columns box has-background-success-light my-6 mx-3 py-6">
            {% for column in events|slice(3) %}
            <div class="column is-4">
                {% for event in column %}
                <a class="card" href="/event/{{event[0]}}">
                    <div class="card-header mt-5 has-background-success">
                        <p class="card-header-title is-size-5 has-text-warning">
                            {{event[1]}}
                        </p>
                    </div>
                    <div class="card-content has-background-info-light">
                        {{event[-2]}}
                    </div>
                    <div class="card-footer has-background-success has-text-warning">
                        <p class="is-size-5 px-5 py-2">
                            Starting on: {{event[3][:11]}}
                        </p>
                    </div>
                </a>
                {% endfor %}
            </div>
            {% endfor %}
    </main>

    <footer class="footer has-background-success mt-6">
        <div class="has-text-centered has-text-link-light">
            This website is made by the members of cs-gang <br> For any enquiries, contact abc@domain.com
        </div>
    </footer>


    <script>
        function check_person_details_popup() {
            var popup = document.getElementById("personaldetailpopup")
            popup.classList.add("is-active")
        }

        function closepopup() {
            var popup = document.getElementById("personaldetailpopup")
            var check_form = document.getElementById("check-detail-form")
            check_form.submit()
            popup.classList.remove("is-active")
        }

        function generate_event_card(index) {
            //Make components of event card
            var event_card = document.createElement('a');
            var event_header = document.createElement('div');
            var event_body = document.createElement('div');
            var event_footer = document.createElement('div');
            var event_header_text = document.createElement('p');
            var event_footer_text = document.createElement('p');
            //Add classes to the componenets
            event_card.classList.add("card");
            event_header.classList.add("card-header", "mt-5");
            event_body.classList.add("card-content", "has-background-info-light");
            event_footer.classList.add("card-footer", "has-background-success", "has-text-warning");
            event_header_text.classList.add("card-header-title", "is-size-5", "has-background-success", "has-text-warning");
            event_footer_text.classList.add("is-size-5", "px-5", "py-2");
            //Add the components as children
            event_card.appendChild(event_header);
            event_card.appendChild(event_body);
            event_card.appendChild(event_footer);
            event_header.appendChild(event_header_text);
            event_footer.appendChild(event_footer_text);
            //add the text to the card
            event_header_text.textContent = events[index]['events']['event_name'];
            event_body.textContent = events[index]['events']['short_desc'];
            event_footer_text.textContent = events[index]['events']['start_time'];

            return event_card
        }

        var event_holder = document.getElementById("events")
        var event_holder_children = [1, 3, 5]
        var index_count = 1
        for (i = 0; i < length(events); i++) {
            event_holder[index_count].appendChild(generate_event_card(i))
            if (index_count == 5) {
                index_count = 1
            }
            else {
                index_count = index_count + 2
            }
        }

    </script>
</body>

</html>
