<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stylesheet.css">
    <script src="https://kit.fontawesome.com/91cb2ec1de.js" crossorigin="anonymous"></script>
    <title>OneHacks</title>
</head>
<body>
    <header class="columns">
        <div class="hero is-medium is-primary column is-8">
            <div class="hero-body">
                <h1 class="title is-1">Meetinator</h1>
                <h2 class="subtitle is-3 is-italic">Manage all your events and meetings effectively</h2>
            </div>
        </div>
        <div class="hero is-medium is-success column is-4">
            <div class="hero-body">
                <div class="mx-6">
                    <a class="box button is-link is-flex is-size-4"href="discord"><span class="fab fa-google fa-lg mr-2"></span>Sign In</a>
                    <a class="box button is-info is-flex is-size-4"href="discord"><span class="fab fa-discord fa-lg mr-2"></span>Sign In</a>
                </div>
            </div>
        </div>
    </header>
</body>
</html>
