<html class="has-background-success-light" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stylesheet.css">
    <script src="https://kit.fontawesome.com/91cb2ec1de.js" crossorigin="anonymous"></script>
    <title>OneHacks</title>
</head>
<body>

    <header class="columns">
        <div class="hero is-medium is-primary column is-8">
            <div class="hero-body">
                <h1 class="title is-1 is-family-monospace">Meetinator</h1>
                <h2 class="subtitle is-3 is-italic">Manage all your events and meetings effectively</h2>
            </div>
        </div>
        <div class="hero is-halfheight is-success column is-4">
            <div class="hero-body">
                <div class="mx-6 is-size-2">
                    <div class="">Log in with</div>
                    <a class="box button is-white is-flex is-size-3 has-text-weight-semibold is-family-code has-text-grey has-text-centered"href="google">
                        <span><img src="../static/images/btn_google_light_normal_ios.svg"></span>Google
                    </a>
                    <a class="box button is-info is-flex is-size-3 has-text-weight-semibold"href="discord">
                        <img src="../static/images/Discord-Logo+Wordmark-White.png">
                    </a>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="box columns mx-6 my-6 py-6 has-background-success-light">
            <div class="column is-6">
                <div class="image is-5by3 mt-4">
                    <img src="https://bulma.io/images/placeholders/800x480.png">
                </div>
            </div>
            <div class="has-text-centered has-text-weight-light column is-6 is-size-5 ml-5 px-6">
                <div class="my-4">With the help of the meetinator, you can join Meetings created by other hosts with the click of a button</div>
                <div class="my-4">Meetings help the host and the members to coordinate effectively, ensuring that the meeting is a success</div>
                <div class="my-4">Manage multiple meetings effectively with the help of our system</div>
                <div class="my-4">Lead a stress free and productive professional life!</div>
            </div>
        </div>
        <div class="box columns mx-6 my-6 py-6 has-background-success-light">
            <div class="column is-6">
                <div class="image is-5by3 mt-4">
                    <img src="https://bulma.io/images/placeholders/800x480.png">
                </div>
            </div>
            <div class="has-text-centered has-text-weight-light column is-6 is-size-5 ml-5 px-6">
                <div class="my-5">As the host of a meeting, you can share a [link/code] with the members which allows them to join it on this platform</div>
                <div class="my-5">The host can ask the members to provide information on entering which can help with arranging the meeting</div>
                <div class="my-5">Only the members can see details about the meeting. The host has complete freedom to decide which details to display</div>
            </div>
        </div>
    </main>


    <footer class="footer has-background-success">
        <div class="has-text-centered has-text-link-light">
            This website is made by the members of cs-gang <br> For any enquiries, contact abc@domain.com
        </div>
    </footer>

</body>
</html>
