<html lang="en" class="has-navbar-fixed-top has-background-success-light">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stylesheet.css">
    <script src="https://kit.fontawesome.com/91cb2ec1de.js" crossorigin="anonymous"></script>
    <title>Dashboard</title>
</head>

<body>

    <nav class="navbar has-background-primary navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item is-size-2 has-text-warning" href="/user/dashboard">
                Eventinator
            </a>
            <a role="button" class="navbar-burger my-4 has-dropdown" aria-label="menu" aria-expanded="false"
                data-target="navburgertarget">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navburgertarget" class="navbar-menu">
            <div class="navbar-start">

            </div>
            <div class="navbar-end is-align-items-center is-flex">
                <button onclick="check_person_details_popup()" class="button is-success is-rounded mx-5">
                    Modify personal details
                </button>
                <a id="signout" href="/user/logout"
                    class="px-5 py-5 is-flex has-background-success has-text-warning has-text-centered is-size-4">Log
                    out</a>
            </div>
        </div>
    </nav>

    <div id="personaldetailpopup" class="modal">
        <div onclick="closepopup()" class="modal-background"></div>
        <div class="modal-content">
            <form id="check-detail-form" method="POST" action="/user/tz" class="box has-background-success-light">
                {{ form.csrf_token }}
                <div class="field">
                    <label class="label is-size-3" for="timezone">Time zone</label>
                    <div class="control has-icons-left">
                        <div class="select is-rounded">
                            <select id="timezone" name="timezone">
                                <option value='-12:00,0'>(-12:00) International Date Line West</option>
                                <option value='-11:00,0'>(-11:00) Midway Island, Samoa</option>
                                <option value='-10:00,0'>(-10:00) Hawaii</option>
                                <option value='-09:00,1'>(-09:00) Alaska</option>
                                <option value='-08:00,1'>(-08:00) Pacific Time (US & Canada)</option>
                                <option value='-07:00,0'>(-07:00) Arizona</option>
                                <option value='-06:00,0'>(-06:00) Central America, Saskatchewan</option>
                                <option value='-05:00,0'>(-05:00) Indiana, Bogota, Lima, Quito, Rio Branco</option>
                                <option value='-04:00,0'>(-04:00) Caracas, La Paz</option>
                                <option value='-03:00,0'>(-03:00) Buenos Aires, Georgetown</option>
                                <option value='-02:00,1'>(-02:00) Mid-Atlantic</option>
                                <option value='-01:00,0'>(-01:00) Cape Verde Is.</option>
                                <option value='00:00,0'>(00:00) Casablanca, Monrovia, Reykjavik</option>
                                <option value='+01:00,0'>(+01:00) West Central Africa</option>
                                <option value='+02:00,0'>(+02:00) Harare, Pretoria</option>
                                <option value='+03:00,0'>(+03:00) Kuwait, Riyadh, Nairobi, Tbilisi</option>
                                <option value='+04:00,0'>(+04:00) Abu Dabi, Muscat</option>
                                <option value='+05:00,0'>(+05:00) Islamabad, Karachi, Tashkent</option>
                                <option value='+06:00,0'>(+06:00) Astana, Dhaka</option>
                                <option value='+07:00,0'>(+07:00) Bangkok, Hanoi, Jakarta</option>
                                <option value='+08:00,0'>(+08:00) Beijing, Hong Kong, Singapore, Taipei</option>
                                <option value='+09:00,0'>(+09:00) Seoul, Osaka, Sapporo, Tokyo</option>
                                <option value='+10:00,0'>(+10:00) Brisbane, Guam, Port Moresby</option>
                                </option>
                                <option value='+11:00,0'>(+11:00) Magadan, Solomon Is., New Caledonia</option>
                                <option value='+12:00,0'>(+12:00) Fiji, Kamchatka, Marshall Is.</option>
                                <option value='+13:00,0'>(+13:00) Nuku'alofa</option>
                            </select>
                        </div>
                        <span class="icon is-small is-left">
                            <span class="fas fa-user-clock"></span>
                        </span>
                    </div>
                    <p class="help">Select your timezone</p>
                </div>
                <button class="block button is-success">Submit</button>
            </form>
        </div>
        <button onclick="closepopup()" class="modal-close is-large" aria-label="close"></button>
    </div>

    <main class="mx-4 my-6">
        <div class="box has-background-success-light ">
            <span class="title is-1">{{ username|capitalize() }}'s Events</span>
            <a href="/event/new" class="button is-success is-large is-pulled-right my-4">Create Event</a>
        </div>

        <div class="tabs is-centered is-medium">
            <ul>
                <li class="is-active"><a id="JoinedEventsTab">Joined Events</a></li>
                <li><a id="CreatedEventsTab">Created Events</a></li>
            </ul>
        </div>

        <div id="joined-events" class="columns box has-background-success-light my-6 mx-3 py-6">
            {% for column in all_events|slice(3) %}
            <div class="column is-4">
                {% for event in column %}
                <a class="card" href="/event/{{event[0]}}">
                    <div class="card-header mt-5 has-background-success">
                        <p class="card-header-title is-size-5 has-text-warning">
                            {{event[1]}}
                        </p>
                    </div>
                    <div class="card-content has-background-info-light">
                        {{event[-2]}}
                    </div>
                    <div class="card-footer has-background-success has-text-warning">
                        <p class="is-size-5 px-5 py-2">
                            Starting on: {{event[3][:11]}}
                        </p>
                    </div>
                </a>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div id="created-events" class="columns box has-background-success-light my-6 mx-3 py-6" style="display: none;">
            {% for column in owned_events|slice(3) %}
            <div class="column is-4">
                {% for event in column %}
                <a class="card" href="/event/{{event[0]}}">
                    <div class="card-header mt-5 has-background-success">
                        <p class="card-header-title is-size-5 has-text-warning">
                            {{event[1]}}
                        </p>
                    </div>
                    <div class="card-content has-background-info-light">
                        {{event[-2]}}
                    </div>
                    <div class="card-footer has-background-success has-text-warning">
                        <p class="is-size-5 px-5 py-2">
                            Starting on: {{event[3][:11]}}
                        </p>
                    </div>
                </a>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </main>

    <footer class="footer has-background-success mt-6">
        <div class="has-text-centered has-text-link-light">
            This website is made by the members of cs-gang <br> For any enquiries, contact abc@domain.com
        </div>
    </footer>

    <script>
        // script by Josh Fraser (http://www.onlineaspect.com)
        function calculate_time_zone() {
            let timeZoneField = document.getElementById('timezone');
            let timezone = '{{ tz }}'
            var rightNow = new Date();
            var jan1 = new Date(rightNow.getFullYear(), 0, 1, 0, 0, 0, 0);  // jan 1st
            var june1 = new Date(rightNow.getFullYear(), 6, 1, 0, 0, 0, 0); // june 1st
            var temp = jan1.toGMTString();
            var jan2 = new Date(temp.substring(0, temp.lastIndexOf(" ") - 1));
            temp = june1.toGMTString();
            var june2 = new Date(temp.substring(0, temp.lastIndexOf(" ") - 1));
            var std_time_offset = (jan1 - jan2) / (1000 * 60 * 60);
            var daylight_time_offset = (june1 - june2) / (1000 * 60 * 60);
            var dst;
            if (std_time_offset == daylight_time_offset) {
                dst = "0"; // daylight savings time is NOT observed
            } else {
                // positive is southern, negative is northern hemisphere
                var hemisphere = std_time_offset - daylight_time_offset;
                if (hemisphere >= 0)
                    std_time_offset = daylight_time_offset;
                dst = "1"; // daylight savings time is observed
            }
            var i;
            // check just to avoid error messages
            if (timeZoneField && timezone != "None") {
                for (i = 0; i < timeZoneField.options.length; i++) {
                    if (timeZoneField.options[i].value.slice(0, 3) == convert_to_value(timezone)) {
                        timeZoneField.selectedIndex = i
                        break;
                    }
                }
            }
            else if (timeZoneField) {
                for (i = 0; i < timeZoneField.options.length; i++) {
                    if (timeZoneField.options[i].value == convert(std_time_offset) + "," + dst) {
                        timeZoneField.selectedIndex = i
                        timeZoneField.parentElement.parentElement.parentElement.parentElement.submit();
                        break;
                    }
                }
            }
        }

        function convert(value) {
            var hours = parseInt(value);
            value -= parseInt(value);
            value *= 60;
            var mins = parseInt(value);
            value -= parseInt(value);
            value *= 60;
            var secs = parseInt(value);
            var display_hours = hours;
            // handle GMT case (00:00)
            if (hours == 0) {
                display_hours = "00";
            } else if (hours > 0) {
                // add a plus sign and perhaps an extra 0
                display_hours = (hours < 10) ? "+0" + hours : "+" + hours;
            } else {
                // add an extra 0 if needed
                display_hours = (hours > -10) ? "-0" + Math.abs(hours) : hours;
            }

            mins = (mins < 10) ? "0" + mins : mins;
            return display_hours + ":" + mins;
        }

        function convert_to_value(value) {
            let final = value.slice(7)
            if (final.length == 2) {
                final = final[0] + "0" + final[1]
            }
            return final
        }

        calculate_time_zone();


    </script>

    <script>
        function check_person_details_popup() {
            var popup = document.getElementById("personaldetailpopup")
            popup.classList.add("is-active")
        }

        function closepopup() {
            var popup = document.getElementById("personaldetailpopup")
            popup.classList.remove("is-active")
        }

        let joinedTab = document.getElementById("JoinedEventsTab")
        let createdTab = document.getElementById("CreatedEventsTab")
        let joinedEvents = document.getElementById("joined-events")
        let createdEvents = document.getElementById("created-events")

        joinedTab.addEventListener("click", tabhandler("joined"));
        createdTab.addEventListener("click", tabhandler("created"))

        function tabhandler(tab) {
            if (tab == "joined") {
                return () => {
                    joinedTab.parentElement.classList.add("is-active");
                    createdTab.parentElement.classList.remove("is-active");
                    joinedEvents.style.display = "block"
                    createdEvents.style.display = "none"
                }
            } else if (tab == "created") {
                return () => {
                    joinedTab.parentElement.classList.remove("is-active");
                    createdTab.parentElement.classList.add("is-active");
                    joinedEvents.style.display = "none"
                    createdEvents.style.display = "block"
                }
            }
        }
    </script>
</body>

</html>
