<html lang="en" class="has-navbar-fixed-top has-background-success-light">

<head>
    <meta content="Event title" property="og:title">
    <meta content="Short description" property="og:description">

    <!--Placeholder image. Change when/if you get proper image-->
    <meta content='https://discordapp.com/assets/ba74954dde74ff40a32ff58069e78c36.png' property='og:image'>
    <meta name="theme-color" content="#FF3864">
    <link type="application/json+oembed" href="../static/json/meta-tag.json" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stylesheet.css">
    <title>Event Display</title>
</head>

<body>
    <nav class="navbar has-background-primary navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item is-size-2 has-text-warning" href="/user/dashboard">
                Eventinator
            </a>
            <a role="button" class="navbar-burger my-4 has-dropdown" aria-label="menu" aria-expanded="false"
                data-target="navburgertarget">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navburgertarget" class="navbar-menu">
            <div class="navbar-start">

            </div>
            <div class="navbar-end is-align-items-center is-flex">
                <button class="button is-success is-rounded mx-5">
                    Modify personal details
                </button>
                <a href="/user/logout"
                    class="px-5 py-5 is-flex has-background-success has-text-warning has-text-centered is-size-4">Log
                    out</a>
            </div>
        </div>
    </nav>

    <section class="box has-background-success-light mx-6 my-6">
        <div class="title is-1">Title Of Event Placeholder</div>
        <div class="subtitle my-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt libero aperiam aut
            ullam
            repellendus ut iusto nemo neque magnam! Iste magnam sunt accusantium explicabo hic unde, eligendi delectus
            nisi vero doloremque ad ullam officiis error eius doloribus minima ratione ut! Quam eum dolore maiores velit
            laborum tempore deleniti reprehenderit ducimus? short description</div>

        <div class="box has-background-success-light mx-3 my-3">Long description Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Odit, totam. Voluptate asperiores, modi, earum nesciunt pariatur error perspiciatis
            possimus accusamus ex itaque, iste similique? Expedita, cupiditate? Reprehenderit, quis qui? Quibusdam nemo
            voluptatum error esse at perspiciatis praesentium, molestias rerum earum unde harum vel minima in nisi
            laboriosam dicta asperiores repellat, eveniet animi consequuntur temporibus. Voluptatem totam deserunt,
            earum officia doloribus vitae a natus quae autem eius similique, nesciunt exercitationem distinctio, neque
            sequi molestiae sed. Excepturi tenetur possimus ea deleniti voluptates soluta deserunt adipisci nemo
            temporibus itaque ullam explicabo cupiditate sed amet in quae, rem, voluptatem, corrupti aliquam officia
            velit. Veniam. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio nulla atque rem temporibus
            delectus debitis reiciendis, veniam a ipsa, reprehenderit, quo dicta molestiae mollitia quidem expedita

            <br><br>
            porro aspernatur quam qui maxime dolorum voluptatibus magni. Doloribus natus in veritatis temporibus atque
            nostrum voluptas quod cum blanditiis et consequuntur non, architecto veniam accusantium sint at magni velit
            quae. Rem explicabo et vitae porro quos nemo voluptatem, amet dolores dolor, iure minus. Unde laudantium est
            quidem quae earum illum totam id, quo doloremque magnam ipsam modi corrupti cupiditate laborum eum quod
            architecto! Consequatur molestias, eligendi pariatur porro architecto est molestiae eaque consequuntur
            fugit, natus laborum fuga aliquid corrupti voluptatibus non sint explicabo delectus laudantium? Commodi,
            dolorum dignissimos a, impedit, sequi praesentium officiis beatae hic molestias consectetur corporis eum
            numquam odio excepturi incidunt nobis explicabo consequatur? Iure expedita repellat illum itaque labore
            ipsa, aut unde a ad eum rem consequuntur, quia ullam officiis voluptatibus consequatur ducimus culpa! Quasi
            quaerat perferendis odio iusto at, hic minus magni deserunt cum eum itaque quae nam consequuntur harum illo
            dolores corporis quisquam numquam voluptatem dicta laboriosam repellat praesentium! Provident odit dolores
            itaque libero quis asperiores culpa pariatur ab, consequatur, perferendis eveniet totam eligendi minus
            fugiat ipsa ipsum molestiae.
        </div>

        <div class="px-4 py-5">
            <span class="is-pulled-left is-size-4">Start Date Placeholder</span>
            <span class="is-pulled-right is-size-4">End Date Placeholder</span>
        </div>

        <div class="box columns has-background-success-light mx-6 my-3 mt-6">
            <div class="column content">
                <p>Users who have joined the event</p>
                <ul>
                    <li>Bro</li>
                    <li>Sis</li>
                    <li>Urmom</li>
                    <li>Urdad</li>
                    <li>Shrek</li>
                </ul>
            </div>
            <div class="column">

            </div>
        </div>
        <div class="pb-6 my-2">
            <a href="" class="button is-success is-medium mx-6 mt-2 is-pulled-right">Leave
                Meeting</a>
        </div>
    </section>

    <footer class="footer has-background-success">
        <div class="has-text-centered has-text-link-light">
            This website is made by the members of cs-gang <br> For any enquiries, contact abc@domain.com
        </div>
    </footer>
</body>

</html>
