<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stylesheet.css">
    <title>Login Error</title>
</head>

<body class="has-background-success-light">
    <div class="p-6 has-background-primary"></div>
    <div class="ml-6">
        <div class="block title is-1 has-background-success-light mt-6"> Please log in first </div>
        <div class="block subtitle is-3 mt-2"> You will soon be redirected to home...</div>
    </div>

    <a id="redirect" hidden href="/"></a>

    <div class="p-5 has-background-success" style="position: absolute; bottom: 0; width: 100%;"></div>

    <script>
        let redirect = document.getElementById("redirect");
        setTimeout(() => redirect.click(), 3000)

    </script>
</body>

</html>
