@charset "utf-8";

//google font
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Roboto&display=swap');

//colors
$darkpurple: #261447;
$magenta: #FF3864;
$lightorange: #F5B48E;
$cream: #EBF5EE;
$lightblue: #AF8CE3;
$googlered: #DE5246;
$discordblue: #738ADB;
$lavender: #E8DEF7;
$pink: #FFC2CF;

//overriding global variables

//color
$primary: $magenta;
$success: $darkpurple;
$warning: $cream;
$link: $googlered;
$info: $discordblue;
$link-light: $lightorange;
$info-light: $lightblue;
$success-light: $lavender;
$primary-light: $pink;
//font
$family-sans-serif: "Playfair Display", sans-serif;
$family-monospace: "Inknut Antiqua", monospace;
$family-code: "Roboto", sans-serif;
$size-1: 4.5rem;



@import "../../../node_modules/bulma/bulma.sass";
